.checkoutForm {
    margin: 1rem 0;
    height: 20rem; 
    overflow: auto;
  }
  
  .Checkut_control {
    margin-bottom: 1rem;
  }
  
  .Checkut_control label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
  }
  
  .Checkut_control input {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
  }
  
  .invalid {
    color: #ca3e51;
    font-weight: 500;
  }
  
 