.header{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    top:0;
    left: 0;
    padding: 0 2rem;
}

.header ul{
    list-style: none;
    display: flex;
}

.header li{
    margin-left: 2rem;
}

.header ul li a{
    text-decoration: none;
    color: #fff;
}

.home-button {
    padding: 0.4rem;   
    font-weight: bold;
    color: #fff;
    background-color: #b71a92;
    border-radius: 6px;
    text-align: center;
}

.welcome-modal {
    width: 90%;
    margin: 2rem auto;    
    border: 1px solid #fff;
    box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
    border-radius: 10px;
    max-width:40rem;   
    padding:2rem;
  }