.Movie_form{
    background-color: #fff;   
    width: 50rem;
    margin: 2rem auto;
    border-radius: 10px;
    height: auto;   
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.Movie_fields{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.Movie_fields label{
    margin-bottom: 1rem;
    font-weight: bold;
}
.Movie_fields input{
    width: 30rem;
    padding: 8px;
    border-radius: 6px;
    border-color: gray;
}
.Movie_fields textarea{
    width: 30rem;
    padding: 8px;
    border-radius: 6px;
    border-color: gray;
    height: 8rem;
}
.Add_movie{
    height: 3rem;
    background-color: #000;
    margin:2rem auto;   
    width: 12rem;
    border-radius: 10px;
    color: white;
}